<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- LUIS-->
  <add key="LUISModelID" value="dfbef095-b88d-4012-a2c9-3df7ebb95c4d" />
  <add key="LUISSubscriptionID" value="470501b4f7274b45b44c445870e6e583" />
  <!-- Bot-->
  <add key="BotId" value="LACPL" />
  <add key="MicrosoftAppId" value="944d5186-3fd7-403b-b390-7e41d0fe972d" />
  <add key="MicrosoftAppPassword" value="ogrUDQ6$\)fatlIQLJ4910-" />
  <add key="BingMapsApiKey" value="At2KI-4Q5FXp8UnyLhOtLjr0qzsOsimhzukOqye2iUtbNSABsmRmHC_QsESv2gbD" />

</appSettings>